<ion-view ng-controller="ExibitorsinfoCtrl">



  <ion-header-bar align-title="left" class="bar bar-header bar-assertive">
    <div class="buttons">
      <a href="#/app/exibitors" nav-direction="back">
        <button class="button button-icon icon ion-ios-arrow-back" ></button></a>
    </div>
    <h1 class="title">EXIBITORS</h1>

  </ion-header-bar>


  <ion-content style="padding: 10px">




    <div class="card" style="padding: 20px">

      <center>

        <img src="http://philortho.com/{{exibitors_list[selected_exibitors].company_logo}}" onerror="this.src='img/imgprofile.png'" style="width: 25%; height: 25%">
       <b> <p>{{exibitors_list[selected_exibitors].company_name}}</p> </b>
       {{exibitors_list[selected_exibitors].maproom}}
        <br><p>{{exibitors_list[selected_exibitors].company_profile}}</p>

      </center>

    </div>





    <div class="card" style="padding: 10px">


      <b>Contact</b>
      <div style="width: 100%; height: 1px; background-color: black">

      </div>


      <a class="item item-icon-left">
        <i class="icon ion-ios-world"></i>
        <h2>{{exibitors_list[selected_exibitors].company_website}}</h2>
      </a>

      <a class="item item-icon-left">
        <i class="icon ion-social-facebook"></i>
        <h2>{{exibitors_list[selected_exibitors].company_facebook}}</h2>
      </a>


      <a class="item item-icon-left">
        <i class="icon ion-paper-airplane"></i>
        <h2>{{exibitors_list[selected_exibitors].company_website}}</h2>
      </a>

      <a class="item item-icon-left">
        <i class="icon ion-android-call"></i>
        <h2>{{exibitors_list[selected_exibitors].company_contacts}}</h2>
      </a>



    </div>











  </ion-content>




</ion-view>

