<ion-view ng-controller="ForgotpassCtrl">

  <ion-header-bar align-title="left" class="bar bar-header bar-balanced">


      <div class="buttons">
        <a   href="#/loginuser" nav-direction="back">
          <button class="button button-icon icon ion-ios-arrow-back" ></button></a>
      </div>


     <b> <h1 class="title">Forgot Password</h1> </b>


  </ion-header-bar>




  <ion-content class="bg_logoutimg" scroll="false">



      <center>

          <div style="margin-top: 40%; margin-bottom: 40%">

              <b>
                  <p style="color: white; font-size: 30px">Forgot Your</p>
                  <p style="color: white; font-size: 30px">Password? </p>
              </b>



              <input type="text" placeholder="Email Address" style="width: 85%; height: 40px; padding-left: 10px; margin-top: 30px; opacity: .5">


              <button class="button button-block button yellow_color" style="width: 85%; margin-top: 20px">
                  <b> <a style="color: white">FORGOT PASSWORD</a> </b>
              </button>

          </div>


      </center>




  </ion-content>

</ion-view>
