<ion-view ng-controller="OpenforumCtrl">


  <ion-content class="padding">

    <div style="padding: 20px">

      <h3>Question</h3>
      <textarea id="text_open_forum" rows="6" style="border-color: gray; border: solid; border-width: .5px; padding: 5px; width: 100%">
      </textarea>


      <button ng-click="submit_openforum()" class="button button-block button color_green" style="width: 100%; margin-top: 20px">
        <b> <a style="color: white">Submit</a> </b>
      </button>


    </div>









  </ion-content>


</ion-view>
